/*CO TU CHCEŠ JAKO MMA?*/
* {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;   
}
.menu{
    user-select: none;
}
body{
    background-color: #2c3033;

}

nav{

    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color: #f39c12;
    font-family: 'Roboto Mono', monospace;
}

.menu a{ 
    text-shadow: 2px 2px black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size:  50px;
    text-decoration: none;
    background-color: #f39c12;
}





.textjako{
    position: absolute;
    width: 100%;
    top: 30vh;
    text-align: center;
    transform: translateY(-50%);
    font-size: 20px;
    

}
.textjako h1{
    color: white;
    height: 100%;
    letter-spacing: 3px;
}  


.btn1{
    position: absolute;
    width: 100%;
    top: 40vh;
    text-align: center;
    
}
.btn1 a{
    text-decoration: none;
    border-radius: 20px;
    background-color: #f39c12;
    color: white;
    padding: 13px;
    transition: .4s ease-in-out;
}

.btn2{
    position: absolute;
    width: 100%;
    top: 50vh;
    text-align: center;
    
}
.btn2 a{
    text-decoration: none;
    border-radius: 20px;
    background-color: #f39c12;
    color: white;
    padding: 13px;
    transition: .4s ease-in-out;
}






.btn1 a:hover{
    transition: .3s ease-in-out;
    font-size: 35px;
}
.btn2 a:hover{
    transition: .3s ease-in-out;
    font-size: 35px;
}

::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: black;}
::-webkit-scrollbar-thumb {background: #f39c12;}
::-webkit-scrollbar-thumb:hover {background: #cf820a; }



/*More to tady je tamto no asi*/
.napicuinfo h1,
.napicuhelp h1,
.covid h1,
.cursed h1,
.mute h1,
.unban h1{
    color: white;
    font-size: 40px;
}
.napicuinfo p,
.napicuhelp p,
.covid p,
.cursed p,
.mute p,
.unban p{
    color: #545e5e;
    font-size: 25px;
}



.napicuhelp{
    width: 100%;
    position: absolute;
    top: 900px;
    text-align: right;
    right: 200px;
}
.napicuhelp h1{
    position: absolute;
    right: 550px;
    top: 0px;

}
.napicuhelp p{
    position: absolute;
    right: 400px;
    top: 50px;
   
}



.covid{
    width: 100%;
    position: absolute;
    top: 1500px;
    text-align: right;
    right: 1200px;
}
.covid h1{
    position: absolute;
    right: -400px;
    top: 0px;
}
.covid p{
    text-align: start;
    position: absolute;
    right: -1000px;
    top: 50px;
}



.cursed{
    width: 100%;
    position: absolute;
    top: 2100px;
    text-align: right;
    right: 240px;
}
.cursed h1{
    position: absolute;
    right: 500px;
    top: 0px;
}
.cursed p{
    text-align: start;
    position: absolute;
    right: 450px;
    top: 50px;
}



.mute{
    width: 100%;
    position: absolute;
    top: 2800px;
    text-align: right;
    right: 1300px;
}
.mute h1{
    position: absolute;
    right: -400px;
    top: 0px;
}
.mute p{
    text-align: start;
    position: absolute;
    right: -700px;
    top: 60px;
}



.unban{
    width: 100%;
    position: absolute;
    top: 3400px;
    text-align: right;
    right: 240px;
}
.unban h1{
    position: absolute;
    right: 500px;
    top: 0px;
}
.unban p{
    text-align: start;
    position: absolute;
    right: 450px;
    top: 50px;
}



.napicuinfo{
    width: 100%;
    position: absolute;
    top: 4000px;
    text-align: right;
    right: 1200px;
}
.napicuinfo h1{
    position: absolute;
    right: -400px;
    top: 0px;
}
.napicuinfo p{
    text-align: start;
    position: absolute;
    right: -700px;
    top: 60px;
}

































@media screen and (max-width:1200px){
    .menu a{
        font-size: 40px;
    }
}
@media screen and (max-width:950px){
    .menu a{
        font-size: 34px;
    }
}
@media screen and (max-width:410px){
    .menu a{
        font-size: 30px;
    }

}

@media screen and (max-width: 320px){
    .menu a{
        font-size: 25px;
    }

}
  