* {
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    overflow: hidden;
}

body {
    background-color: #040d21;
    background-image: url('../Img/FOTO90.webp');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#Table{
    position: absolute;
    width: 100%;
    height: 100vh;
}

#TopMenu {
    position: absolute !important;
    right: 0;
    left: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: initial;
}

.TopMenu-Tabel {
    width: 100%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.TopMenu-Tabel nav ul {
    display: flex !important;
    list-style: none !important;
}

.TopMenu-Tabel nav ul li {
    margin-right: 25px;
}

.TopMenu-Tabel nav ul li a {
    font-size: 1.3rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.425);
}
.TopMenu-Tabel nav ul li a:hover {
    color: rgba(255, 255, 255, 0.944);
}


.MiddleMenu-Table {
    display: table;
    z-index: 1;
    height: 100vh;
    min-height: 500px;
    width: 100%;
}

#middlemenutable {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 100px;
}

.MiddleMenu-TableMain {
    width: 100%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* MainText */
.TableMain-Box{

}
#MainTitlePage{
    font-size: 6rem;
    font-weight: 900;
    color: white;
}
#MainDescriptionPage{
    margin-left: 2%;
}
#MainDescriptionPage p{
    color: rgba(255, 255, 255, 0.524);
}

@media screen and (max-width:578px){
    .TopMenu-Tabel {
        max-width: 90%;
    }

    #MainTitlePage {
        font-size: 5.5rem;
    }
    .TopMenu-Tabel nav ul li {
        margin-right: 18px;
    }
}
@media screen and (max-width:456px){
    .TopMenu-Tabel {
        max-width: 90%;
    }

    #MainTitlePage {
        font-size: 5rem;
    }
    .TopMenu-Tabel nav ul li {
        margin-right: 13px;
    }
    .TopMenu-Tabel nav ul li a {
        font-size: 1.2rem;
    }
}
/* 405px min*/ 