*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    background-color: #2f3640;

}
.hodiny-txt,
.box,
.zdarne-pop{
    font-family: 'Roboto Mono', monospace;

}

.zdarne-text{
    text-align: center;
    color: white;
    font-size: 10vh;
    letter-spacing: 2vh;
}



#zdarne{
    font-family: 'Bebas Neue', cursive;
    padding-top: 15vh;

}
/*TEXT - ČAS - POP-TEXT*/
.zdarne-pop{
    font-weight: 700;
    color: #e84118;
    text-align: center;
    padding-top: 5vh;
    font-size: 5vh;
}


#zpod-panel{
    width: 100%;
    min-height: 100px;
}
.odkazy{
    user-select: none;
    margin-top: 20vh;    
    grid-gap: 2vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, 385px);
    justify-content: center;
    align-items: start;
}
.box{
    text-align: center;
    background-color: white;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    padding-top: 5%;
    border-radius: 15px;
  
    text-align: center;
}
.box-nazev{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.box a{
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #4cd137;
    border-radius: 100px;
    padding: 15px 30px;
    font-size: 20px;
    transition: .4s;
}
.box a:hover{
    background-color: #44bd32;

    font-size: 23px;
    transition: .3s;
}
.box-odkaz{
    margin-top: 20px;
}
@media screen and (max-width:700px){
    .zdarne-text{
        font-size: 7vh;

    }

}
@media screen and (max-width:462px){
    .zdarne-text{
        font-size: 5vh;

    }

}



/*
.box-odkaz{
    font-size: 1.5vh;
    margin-top: 10%;
    background-color: #4cd137;
    border-radius: 100px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    transition: .4s;
}
*/


