* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto Mono', monospace;
}
body{
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: #2f3640;
    overflow: hidden;
}
/*------MENU------*/
.menu-na{
    user-select: none;
    width: 100%;
    background-color: #c0392b;
    font-size: 5vh;
    padding-bottom: 5px;
    letter-spacing: 1vh;
    text-align: center;
    top: 0;
}
.menu-na a {
    transition: .4s;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.menu-na a:hover {
    transition: .3s;
    letter-spacing: 1.2vh;
}
/*------MENU------*/


/*input*/
::placeholder{
    color: white;
    font-size: 15px;
}
.hledaciBox{
    width: 25%;
    padding: 20px 30px;
    background-color: #c0392b;
    border: none;
    outline: none;
    color: white;
}




#menu-pocasi{
    width: 100%;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.text{
    font-size: 4vh;
    padding-top: 35px;
}