*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;

}


#snow{
    height: 100%;
    width: 100%;
}


body{
    background-color: #2f3640;  
    user-select: none;
    overflow: hidden;

}
/*MENU*/
#menu{
    position: fixed;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.menu-text{
    
    max-width: 450px;
    margin: auto;
}
.menu-text a{
    color: #ecf0f1;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: bold;
    text-decoration: none;
}

/*MENU*/

#hodiny{


    position: fixed;
    display: table;

    height: 100vh;
    min-height: 500px;
    width: 100%;
}
.cas{
    
    display: table-cell;
    padding-top: 200px;
    padding-bottom: 100px;
    text-align: center;
    
}
.cas-text{
    

    font-weight: bold;
    
    max-width: 500px;
    margin: auto;
    width: 100%;

}



/*-------------------*/
.cas-text-vanoce{
    font-size: 110px;
    color: #e74c3c;
    
    font-weight: bold;
}
.cas-text-rok{
    padding-top: 20px;
    font-size: 100px;
    font-weight: bold;
    color: #ecf0f1
}

.cas-text-cas{
    
    padding-top: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.cas-text-cas div{
    background-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    width: 100px;
    height: 100px;
    
    line-height: 100px;
    text-align: center;
    color: #bdc3c7;
    margin: 0 15px;
    font-size: 50px;
    font-weight: bold;


}
/*-------------------*/
.cas-text-cas div::before{
  
    color: black;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -30px;
    height: 50px;
    line-height: 35px;
    font-size: 0.35em;
}
.cas-text-cas #Dny::before{
    content: 'Dny';
}
.cas-text-cas #Hodiny::before{
    content: 'Hodin';
}
.cas-text-cas #Minuty::before{
    content: 'Minuty';
}
.cas-text-cas #Sekundy::before{
    content: 'Sekundy';
}



@media screen and (max-width:765px){
    .cas-text-vanoce{
        font-size: 90px;
    }
    .cas-text-rok{
        font-size: 80px;
    }
    
    .cas-text-cas{
        font-size: 30px;
    }
    .cas{   
        padding-top: 100px;   
    }
    .cas-text-cas div{

        width: 95px;
        height: 95px;
        font-size: 40px;
    
    
    }
    .cas-text-cas div::before{
  

        bottom: -45px;

    }

}

@media screen and (max-width:500px){
    .cas-text-vanoce{
        font-size: 80px;
    }
    .cas-text-rok{
        font-size: 70px;
    }
    
    .cas-text-cas{
        font-size: 20px;
    }

    .cas-text-cas div{

        width: 74px;
        height: 74px;
        font-size: 35px;
    
    
    }

}
@media screen and (max-width:440px){
    .cas-text-vanoce{
        font-size: 80px;
    }
    .cas-text-rok{
        font-size: 70px;
    }
    
    .cas-text-cas{
        font-size: 20px;
    }
    .cas{   
        padding-top: 150px;   
    }

    .cas-text-cas div{

        width: 74px;
        height: 74px;
        font-size: 35px;
    
    
    }

}
@media screen and (max-width:417px){
    .cas-text-vanoce{
        font-size: 80px;
    }
    .cas-text-rok{
        font-size: 70px;
    }
    
    .cas-text-cas{
        font-size: 20px;
    }
    .cas{   
        padding-top: 150px;   
    }

    .cas-text-cas div{

        width: 64px;
        height: 64px;
        font-size: 35px;
    
    
    }
    .cas-text-cas div::before{
  

        bottom: -50px;

    }

}