* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto Mono', monospace;
    
}

body{
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: #2c3033;
    overflow: hidden;
}
.snow{

    width: 100vh;
    height: 100vh;
   
  
}



nav{

    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color: #f39c12;
    font-family: 'Roboto Mono', monospace;
}

.menu a{ 
    text-shadow: 2px 2px black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size:  50px;
    text-decoration: none;
    background-color: #f39c12;
    user-select: none;
}
.zaklad{
    height: 0;
    position: absolute;
    left: 100px;
    bottom: 80px;
    top: 40%;
    right: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.cislorok h1{
    color: #e74c3c;
    font-size: 250px;

}
.zaklad h2{
    text-align: center;
    font-size: 450px;
    color: white;
    margin-top: 200px;
    font-family: 'Roboto Mono', monospace;
}
.zaklad h2 span{
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 100px;
    font-family: 'Roboto Mono', monospace;
}
.cas{
    display: flex;
    margin-top: 20px;
    
}
.cas div{
    background-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: white;
    margin: 0 15px;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
}

.cas div::before{
    color: black;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -30px;
    height: 50px;
    line-height: 35px;
    font-size: 0.35em;
}
.cas #Dny::before{
    content: 'Dny';
}
.cas #Hodiny::before{
    content: 'Hodin';
}
.cas #Minuty::before{
    content: 'Minuty';
}
.cas #Sekundy::before{
    content: 'Sekundy';
}


/*     CAS-SIZE     */
@media screen and (max-width:725px){
    .cislorok h1{
        font-size: 200px;
    }

    .cas div{
        margin:  0 10px;
        font-size: 40px;
    }
    .cas div::before{
        font-size: 0.50em;
    }
}
@media screen and (max-width:570px){
    .zaklad h2 span{

        font-size: 90px;
        font-family: 'Roboto Mono', monospace;
    }
    .cislorok h1{
        font-size: 180px;
    }
    .cas div{
        margin: 0 10px;
        height: 80px;
        width: 80px;
        font-size: 30px;
        line-height: 70px;
    }
    .cas div::before{
        font-size: 0.60em;
    }
 

}


@media screen and (max-width:410px){
    .zaklad h2{
        font-size: 90px;
    }
    .cas div{
        margin:  0 0px;
        font-size: 30px;
    }
}

@media screen and (max-width:375px){
    .cas div{
        margin:  -15px;
        
    }
}
@media screen and (max-width:320px){
    .zaklad{
        margin-top: -80px;
    }
    .zaklad h2{
        font-size: 80px;
    }
    .cas div{
        margin:  0 -20px;
        font-size: 25px;
    }
}




/*     Menu  ALL  */
@media screen and (max-width:1200px){
    .menu a{
        font-size: 40px;
    }
}
@media screen and (max-width:1020px){
    .menu a{
        font-size: 40px;
    }
}
@media screen and (max-width:950px){
    .menu a{
        font-size: 34px;
    }
}
@media screen and (max-width:410px){
    .menu a{
        font-size: 30px;
    }

}
@media screen and (max-width: 320px){
    .menu a{
        font-size: 25px;
    }
}
/*     Menu  ALL  */