*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;

}


#snow{
    height: 100%;
    width: 100%;
}


body{
    background-color: #242424;
    
    user-select: none;
    overflow: hidden;

}
/*MENU*/
#menu{
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.menu-text{
    
    max-width: 450px;
    margin: auto;
}
.menu-text a{
    color: #ecf0f1;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: bold;
    text-decoration: none;
}

/*MENU*/

#hodiny{


    position: absolute;
    display: table;

    height: 100vh;
    min-height: 500px;
    width: 100%;
}
.cas{
    
    display: table-cell;
    padding-top: 200px;
    padding-bottom: 100px;
    text-align: center;
    
}
.cas-text{
    

    font-weight: bold;
    
    max-width: 500px;
    margin: auto;
    width: 100%;

}



/*-------------------*/
.cas-text-vanoce{
    font-size: 110px;
    color: #e74c3c;
    
    font-weight: bold;
}
.cas-text-rok{
    padding-top: 20px;
    font-size: 100px;
    font-weight: bold;
    color: #ecf0f1
}

.cas-text-cas{

    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cas-text-cas div{
    box-shadow: 0px 2px 13px 0px #ffffff;
    background-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    width: 100px;
    height: 100px;
    
    line-height: 100px;
    text-align: center;
    color: #bdc3c7;
    margin: 0 15px;
    font-size: 50px;
    font-weight: bold;


}
/*-------------------*/
.cas-text-cas div::before{
  
    color: black;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -30px;
    height: 50px;
    line-height: 35px;
    font-size: 0.35em;
    box-shadow: 0px 2px 13px 0px #ffffff;
}
.cas-text-cas #Dny::before{
    content: 'Dny';
}
.cas-text-cas #Hodiny::before{
    content: 'Hodin';
}
.cas-text-cas #Minuty::before{
    content: 'Minuty';
}
.cas-text-cas #Sekundy::before{
    content: 'Sekundy';
}




.svicky{
    padding-top: 130px;



    


}
.svicky-sv{
    display: flex;
    justify-content: center;
    align-items: center;


 
    
    
}
.svicky-sv div{
    margin-left: 40px;
    margin-right: 40px;
    height: 100px;
    width: 100%;
    background-color: white;

}
/* ------------------------ */

.cas-text-ca{
    padding-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.svicka1{
    background-color: white;
    position: relative;
    width: 50px;
    height: 100px;
    margin: 0 25px;
    border-radius: 10px;
    display: none;
}

.svicka2{
    background-color: white;
    position: relative;
    width: 50px;
    height: 100px;
    margin: 0 25px;
    font-size: 50px;
    border-radius: 10px;
    display: none;

}

.svicka3{
    background-color: white;
    position: relative;
    width: 50px;
    height: 100px;
    margin: 0 25px;
    border-radius: 10px;
    display: none;

}

.svicka4{
    background-color: white;
    position: relative;
    width: 50px;
    height: 100px;
    border-radius: 10px;
    margin: 0 25px;
    display: none;

}








/* tu so more ohne  */
.clasa1{
    position: relative;
    margin: 0 -30px;
    display: none;

}.clasa2{

    position: relative;
    margin: 0 -30px;
    display: none;

}.clasa3{
    position: relative;
    margin: 0 -30px;
    display: none;

}.clasa4{
    position: relative;
    margin: 0 -30px;
    display: none;

}
/* tu so more ohne  */

.clasa1 div{
    bottom: 0;
    position: absolute;
    border-radius: 50% 0% 50% 50%;
    transform: rotate(-45deg);
}
.clasa2 div{
    bottom: 0;
    position: absolute;
    border-radius: 50% 0% 50% 50%;
    transform: rotate(-45deg);
}
.clasa3 div{
    bottom: 0;
    position: absolute;
    border-radius: 50% 0% 50% 50%;
    transform: rotate(-45deg);
}
.clasa4 div{
    bottom: 0;
    position: absolute;
    border-radius: 50% 0% 50% 50%;
    transform: rotate(-45deg);
}



.ohen1{
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 30px;
    background-color: orangered;
    box-shadow: 0 0 15px 9px orangered;
}
.ohen2{
    left: 5px;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 30px;
    background-color: orange;
    box-shadow: 0 0 9px 5px orange;

}
.ohen3{
    left: 10px;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 30px;
    background-color: gold;
    box-shadow: 0 0 6px 4px gold;

}
.ohen4{
    box-shadow: 0 0 5px 2px white; 
    position: relative;
    margin: 0 30px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-color: white;
}



@media screen and (max-width:765px){
    .cas-text-vanoce{
        font-size: 90px;
    }
    .cas-text-rok{
        font-size: 80px;
    }
    
    .cas-text-cas{
        font-size: 30px;
    }
    .cas{   
        padding-top: 100px;   
    }
    .cas-text-cas div{
        width: 95px;
        height: 95px;
        font-size: 40px;
    }
    .cas-text-cas div::before{
        bottom: -45px;
    }
}

@media screen and (max-width:500px){
    .cas-text-vanoce{
        font-size: 80px;
    }
    .cas-text-rok{
        font-size: 70px;
    }
    .cas-text-cas{
        font-size: 20px;
    }
    .cas-text-cas div{
        width: 74px;
        height: 74px;
        font-size: 35px;
    }
}
@media screen and (max-width:440px){
    .menu-text a{
        color: #ecf0f1;
        font-size: 40px;

    }


    .cas-text-vanoce{
        font-size: 80px;
    }
    .cas-text-rok{
        font-size: 70px;
    }
    .cas-text-cas{
        font-size: 20px;
    }
    .cas{   
        padding-top: 90px;   
    }
    .cas-text-cas div{
        width: 74px;
        height: 74px;
        font-size: 35px;
    }
}
@media screen and (max-width:417px){
    .cas-text-vanoce{
        font-size: 80px;
    }
    .cas-text-rok{
        font-size: 70px;
    }
    .cas-text-cas{
        font-size: 20px;
    }
    .cas{   
        padding-top: 150px;   
    }
    .cas-text-cas div{
        width: 64px;
        height: 64px;
        font-size: 35px;
    }
    .cas-text-cas div::before{
        bottom: -50px;
    }
    .svicka1{
        width: 40px;
        height: 80px;
    }
    .svicka2{
        width: 40px;
        height: 80px;
    }
    .svicka3{
        width: 40px;
        height: 80px;
    }
    .svicka4{
        width: 40px;
        height: 80px;
    }
}

@media screen and (max-width:320px){
    .cas-text-vanoce{
        font-size: 50px;
    }
    .cas-text-rok{
        font-size: 60px;
    }
    .cas-text-cas div{
        width: 40px;
        height: 40px;
        font-size: 30px;
        padding-bottom: 65px;
    }
    .cas-text-cas{
        padding-top: 20px;
    }
    .svicka1{
        width: 30px;
        height: 70px;
    }
    .svicka2{
        width: 30px;
        height: 70px;
    }
    .svicka3{
        width: 30px;
        height: 70px;
    }
    .svicka4{
        width: 30px;
        height: 70px;
    }
    .cas-text-cas div::before{

        bottom: -40px;
        height: 40px;

        font-size: 0.30em;
    }


    .cas-text-ca {
        padding-top:100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .clasa1{
        position: relative;
        margin: 0 -40px;
    
    }.clasa2{
    
        position: relative;
        margin: 0 -40px;
    
    }.clasa3{
        position: relative;
        margin: 0 -40px;
        display: none;
    
    }.clasa4{
        position: relative;
        margin: 0 -40px;
        display: none;
    }
    .cas{   
        padding-top: 70px;   
    }
    .menu-text a{
        font-size: 30px;
    }
}