* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto Mono', monospace;   
}
.menu{
    user-select: none;
}
body{
    background-color: #2c3033;

}

nav{

    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color: #f39c12;
    font-family: 'Roboto Mono', monospace;
}

.menu a{ 
    text-shadow: 2px 2px black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size:  50px;
    text-decoration: none;
    background-color: #f39c12;
}

.video{
    margin-left: 5vh;
    margin-top: 6vh;
}

@media screen and (max-width:1360px){
    iframe{
        width: 1000px;
        transform: translateX(10%) translateY(-5%);
    }

}
@media screen and (max-width:1000x){
    iframe{
        width: 720px;
        transform: translateX(50%) translateY(-5%);
    }
}
@media screen and (max-width:1200px){
    .menu a{
        font-size: 40px;
    }
}
@media screen and (max-width:950px){
    .menu a{
        font-size: 34px;
    }
}
@media screen and (max-width:410px){
    .menu a{
        font-size: 30px;
    }

}

@media screen and (max-width: 320px){
    .menu a{
        font-size: 25px;
    }

}
  