*{

    box-sizing:border-box;
    margin:0;
    font-family: 'Rubik', sans-serif;
    padding:0;
    
    
}
    
html, body {
    
    background-color: #242424;
    height:100%;
    width:100%;
   
}
    
body {
    
    align-content:space-around;
    color:#ffffff;
    display:grid;  
    justify-content:center;
    
}

canvas {
    height: 90vh;

    background-color:#ffffff;
}
#Key{
    margin-top: -2%;
    font-size: 2rem;
}