<div id="Background" class="hero is-fullheight Verdana">
  <div class="section">
    <div class="is-size-1 has-text-white has-text-centered section" style="font-weight: 600">NapicuCsko</div>
    <div class="container">
      <div class="box is-flex is-justify-content-space-between is-align-items-center">
        <div class="is-size-2 has-text-weight-semibold">RATS MAPS - DEATHMATCH</div>
        <a href="steam://connect/napicu.eu:27071" class="button is-info" style="font-weight: 600"
          >Připojit na server</a
        >
      </div>
      <div class="box is-flex is-justify-content-space-between is-align-items-center">
        <div class="is-size-2 has-text-weight-semibold">AWP MAPS - DEATHMATCH</div>
        <a href="steam://connect/napicu.eu:27072" class="button is-info" style="font-weight: 600"
          >Připojit na server</a
        >
      </div>
      <div class="box is-flex is-justify-content-space-between is-align-items-center">
        <div class="is-size-2 has-text-weight-semibold">1.6 MAPS - COMPETETIVE</div>
        <a href="steam://connect/napicu.eu:27073" class="button is-info" style="font-weight: 600"
          >Připojit na server</a
        >
      </div>
    </div>
  </div>
</div>
