@import './imports.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,800&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html {
  background-color: white;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  min-width: 300px;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 18px;
  background-color: #182131;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.SourceCode {
  font-family: 'Source Code Pro', monospace;
}
.Ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
.Rubik {
  font-family: 'Rubik', sans-serif;
}
.Verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Bold {
  font-weight: bold;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.initial {
  line-height: initial;
}

