<div class="is-relative">
  <div id="Background"></div>
  <main>
    <div class="section">
      <div class="container is-max-desktop initial">
        <!-- MainTitle-->
        <div>
          <div class="main-text">NapicuBios</div>
        </div>
        <!--EmailInput-->
        <ng-container *ngIf="!this.apiStatement.ok">
          <form [formGroup]="napicuForm" class="is-flex is-align-items-center mt-5" (ngSubmit)="submit()">
            <input email [(ngModel)]="EmailInput" name="email" formControlName="email" ngModel [ngClass]="{ 'is-danger':
             email?.value && email?.invalid || email?.invalid && submittedClick}"
                   class="input is-medium napicu-input has-text-weight-bold" type="text" placeholder="Email">
            <button class="button is-info ml-4 is-fullheight is-medium" type="submit">Upozornit mě</button>
          </form>
          <ng-container *ngIf="email?.value && email?.invalid || email?.invalid && submittedClick">
            <div class="is-size-2 p-3 has-text-danger has-text-weight-bold">E-mail je neplatný</div>
          </ng-container>
          <ng-container *ngIf="apiStatement.tooManyRequests">
            <div class="is-size-2 p-3 has-text-danger has-text-weight-bold">Příliš mnoho požadavků z této IP adresy,
              zkuste to prosím za hodinu znovu :(
            </div>
          </ng-container>
          <!--InputTxt-->
          <div class="mt-3 has-text-light">
            <p>Kliknutím na toto tlačítko potvrzuji, že napicu.eu může zpracovat mou e-mailovou adresu a zaslat mi
              zprávu ohledně novinek NapicuBiosu.</p>
          </div>
        </ng-container>
        <ng-container *ngIf="this.apiStatement.ok">
          <div class="has-text-light p-6">
            <div class="is-size-1 has-text-centered has-text-weight-bold">Děkujeme za váš zájem!</div>
            <div class="is-size-5 p-2 has-text-centered">Veškeré noviny vám odešleme na email
              {{EmailInput}}</div>
          </div>
        </ng-container>

        <!-- Imgs-->
        <div class="mt-6 has-text-light is-size-2" id="napicu-bios-imgs">
          <div>
            <img src="/assets/img/Bios/MainBiosScreen.webp" alt="NapicuBiosMainPage"
                 class="napicu-bios-img">
            <div class="section">
              <p>Webový open source projekt přináší emulovaný BIOS + NapicuOS, který je postaven na
                frameworku Angularu!</p>
            </div>
          </div>
          <div>
            <img src="/assets/img/Bios/MainBios.webp" alt="NapicuBiosMainPage"
                 class="napicu-bios-img">
            <div class="section">
              <p>NapicuBios má základní nastavení, které si můžete přizpůsobit podle vaší představy!</p>
            </div>
          </div>
          <div>
            <img src="/assets/img/Bios/BiosUpdate.webp" alt="NapicuBiosMainPage"
                 class="napicu-bios-img">
            <div class="section">
              <p>NapicuBios je propracovaný do sebemenších detailů! Přináší vám možnosti jako updatování
                BIOSU a mnohem další!</p>
            </div>
          </div>
          <div>
            <img src="/assets/img/Bios/systemAppsScreen.webp" alt="NapicuBiosMainPage"
                 class="napicu-bios-img">
            <div class="section">
              <p>Součástí NapicuBiosu je také NapicuOS se svým jednoduchým designem připomínající GNOME!</p>
            </div>
          </div>
          <div class="napicu-bios-github is-flex">
            <img src="/assets/img/github.png" alt="NapicuBiosMainPage">
            <div>
              <div class="has-text-weight-bold">OpenSource</div>
              <div class="p-4">NapicuBios je open source projekt, který je volně dosupný na platformě GitHub!</div>
              <a class="button is-info ml-4 is-fullheight is-medium" href="https://github.com/Numax-cz/NapicuBios"
                 target="_blank"
              >Source Code</a>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
