<div class="is-relative">
<div id="Background" ></div>

  <main>
    <div class="section">
      <div class="container is-max-desktop initial">
        <!-- MainTitle-->
        <div>
          <div class="main-text">NapicuBios</div>
        </div>
        <!--EmailInput-->
        <div class="is-flex is-align-items-center mt-5">
          <input email [(ngModel)]="EmailInput" (ngModelChange)="inputChange()" name="email"
                 class="input is-medium napicu-input has-text-weight-bold" type="text" placeholder="Email">
          <button class="button is-info ml-4 is-fullheight is-medium" (click)="buttonClick()">Upozornit mě</button>
        </div>
        <!--InputTxt-->
        <div class="mt-3 has-text-light">
          <p>Kliknutím na toto tlačítko potvrzuji, že napicu.eu může zpracovat mou e-mailovou adresu a zaslat mi zprávu ohledně novinek NapicuBiosu.</p>
        </div>

      <!-- Imgs-->
        <div class="mt-6 has-text-light is-size-2" id="napicu-bios-imgs">
          <div>
            <img src="/assets/img/Bios/MainBiosScreen.webp" alt="NapicuBiosMainPage"
                 class="napicu-bios-img">
            <div class="section">
              <p>Webový open source projekt přináší emulovaný BIOS + NapicuOS, který je postaven na
                frameworku Angularu!</p>
            </div>
          </div>
          <div>
            <img src="/assets/img/Bios/MainBios.webp" alt="NapicuBiosMainPage"
                 class="napicu-bios-img">
            <div class="section">
              <p>NapicuBios má základní nastavení, které si můžete přizpůsobit podle vaší představy!</p>
            </div>
          </div>
          <div>
            <img src="/assets/img/Bios/BiosUpdate.webp" alt="NapicuBiosMainPage"
                 class="napicu-bios-img">
            <div class="section">
              <p>NapicuBios je propracovaný do sebemenších detailů! Přináší vám možnosti jako updatování
                BIOSU a mnohem další!</p>
            </div>
          </div>
          <div>
            <img src="/assets/img/Bios/systemAppsScreen.webp" alt="NapicuBiosMainPage"
                 class="napicu-bios-img">
            <div class="section">
              <p>Součástí NapicuBiosu je také NapicuOS se svým jednoduchým designem připomínající GNOME</p>
            </div>
          </div>
          <div class="napicu-bios-github is-flex">
            <img src="/assets/img/github.png" alt="NapicuBiosMainPage">
            <div>
              <div class="has-text-weight-bold">OpenSource</div>
              <div class="p-4">NapicuBios je open source projekt, který je volně dosupný na platformě GitHub!</div>
              <a class="button is-info ml-4 is-fullheight is-medium" href="https://github.com/Numax-cz/NapicuBios" target="_blank"
              >Source Code</a>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
