<div class="is-relative">
  <div id="Background"></div>
  <main>
    <div class="section">
      <div class="container is-max-desktop initial">
        <!-- MainTitle-->
        <div>
          <div class="main-text is-size-1-mobile">NapicuNotebook</div>
        </div>
        <!-- Imgs-->
        <div class="mt-6 has-text-light is-size-2" id="napicu-imgs">

          <div>
            <img src="/assets/img/IMG_20220822_121557.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p>Acer TravelMate 6460 je extremně výkonný profesionální notebook s nadstandardní výbavou, který poráží i dnešní Macbooky!
                Jako výkonové jádro tohoto notebooku zde obstaravá Intel Core 2 Duo T5500 (1,66 GHz)! <br>
                O herní zážitek se zde poté stará 128 MB AMD Radeon X1300!</p>
            </div>
          </div>



          <div>
            <img src="/assets/img/IMG_20220822_122611.webp" alt="Image"
                 class="napicu-img">

          </div>

          <div>
            <img src="/assets/img/IMG_20220822_121740.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p>Tento notebook okrem svého krásného vzhledu má také nadstandardní výbavu, kterou u dnešních notebooků nenajdeme,
                to tedy znamená ohromnou praktiční výhodu tohoto notebooku!</p>
            </div>
          </div>
          <div>
            <img src="/assets/img/IMG_20220822_121619.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p>Další výhodou tohoto notebooku je čtečka otisku prstu integrovaná vedle touchpadu, která se výborně stará o bezpečnost vašeho zařízení!
                Po stranách čtečky nám sedí tlačítka, pod tlačítky si můžeme povšimnout touchpadu, který konkuruje nejen výhodu, že je je velký, ale také se
                dokáže při používání tohoto notebooku dostat na lahodných 30°C, takže už vám v zimě nebude zima na prst!</p>
            </div>
          </div>

          <div>
            <img src="/assets/img/IMG_20220822_122259.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p>Dalším důkazem, proč je tento notebook lepší než dnešní Macbooky je praktičnost tohoto krasavce, protože je zde
                jednoduchá možnost vyměnit základní komponenty v tomto notebooku, jako například disk,
                operační paměť, wifi karta či dokonce baterii, která je zde 4800 mAh!</p>
            </div>
          </div>

          <div>
            <img src="/assets/img/IMG_20220822_123045.webp" alt="Image"
                 class="napicu-img">
          </div>

          <div>
            <img src="/assets/img/IMG_20220822_121639.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p>Mezi další výbavou patří také tato 1.3 Mpix kamera, kterou lze otočit v úhlu 225° díky tomu můžeme natáčet nejen svůj obličej,
                ale také kameru otočit a rázem natáčet zezadu notebooku! Tohle v dnešním Macbooku opravdu nenajdeme!
              </p>
            </div>
          </div>


          <div>
            <img src="/assets/img/IMG_20220822_122537.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p>Na spodku tohoto notebooku můžeme také nalézt štítek s aktivačním klíčem k Windows XP profesionál!</p>
            </div>
          </div>

          <div>
            <img src="/assets/img/IMG_20220822_140037.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p>Tento vysocé výkonný notebook má také vysocé příznivou konektivitu s
                okolním světem GLAN 10/100/1000 a Wi-Fi standardy a/b/g, nalezneme zde i Bluetooth 2.0 s technologií EDR!</p>
            </div>
          </div>

          <div>
            <img src="/assets/img/IMG_20220822_140834.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p><a href="https://jonanek.napicu.eu" class="has-text-info" style="text-decoration: revert; ">Jonánek</a> vlastnící tento lahodný kousek obstarává
                notebook operačním systémem Pfense a používá ho díky své nadstandardní konektivitě jako svůj router!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
