<section id="Background">
  <nav class="navbar is-size-4" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a
          #Burger
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="NapicuBarMain"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div #NavMenu id="NapicuBarMain" class="navbar-menu">
        <div class="navbar-start Verdana">
          <a href="https://napicu.eu/vanoce" class="navbar-item">Vánoce</a>
          <a href="https://napicu.eu/covid" class="navbar-item">Covid</a>
          <a href="https://popjonanek.napicu.eu/" class="navbar-item">PopJonanek</a>
          <a href="https://faktura.napicu.eu/" class="navbar-item">Faktura</a>
          <div class="navbar-item has-dropdown is-hoverable napicuNavStyle">
            <a class="navbar-link"> Další </a>

            <div class="navbar-dropdown is-boxed is-size-5">
              <a href="https://napicu.eu/game" class="navbar-item">Plecháč</a>
              <a href="https://flappybird.napicu.eu/" class="navbar-item">Flappy</a>
              <a href="https://napicu.eu/typegame" class="navbar-item">Typing Game</a>
              <a href="https://tic.tac.toe.napicu.eu/" class="navbar-item">Tic Tac Toe</a>
              <a href="https://napicu.eu/pocasi" class="navbar-item">Počasí</a>
              <a href="https://ip.napicu.eu" class="navbar-item">NapicuIP</a>
              <a href="https://editor.napicu.eu" class="navbar-item">Editor</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <img
    class="content"
    src="/assets/img/NapicuObrazec.svg"
    alt="Obrazec"
    style="position: absolute; right: -120px; top: 17%"
  />

  <main class="is-relative">
    <div class="section" id="NapicuPanel">
      <div style="max-width: 75%; margin: auto">
        <div class="Verdana initial has-text-white is-size-1 has-text-weight-bold">Napicu</div>
        <div class="section">
          <p class="Verdana initial is-size-2" style="color: #c7c7c798">
            Miliony lidí se sešlo, aby vytvořili tuto jedinečnou stránku!<br />
            Stránku, na které lidé pracovali tisíce a tisíce hodin, jen <br />
            aby dokázali dostat toto dílo do života ostatních lidí!<br />
            Stránka, která byla vytvořena lidmi přímo pro tebe!<br />
          </p>
        </div>
        <div></div>
        <section id="NapicuBlock"></section>
      </div>
    </div>
    <section class="section">
      <div class="container is-max-desktop">
        <div class="box" style="background-color: #080d16">
          <article class="media">
            <div class="media-left">
              <figure class="image">
                <img id="NapicuBoxImg" src="/assets/img/NapicuBios-512x512.webp" alt="NapicuBios" />
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <div class="Verdana has-text-white initial has-text-weight-bold" id="NapicuBoxText-Title">
                  Napicu
                </div>
                <div class="container">
                  <p>NapicuBios se blíží nenech si ujít novinky ohledně</p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
  </main>
</section>
