<section  class="hero is-fullheight has-background-primary">
  <div class="hero-body">
    <div class="container has-text-black">
      <div  *ngIf="data">
        <div class="has-text-weight-bold has-text-centered is-size-1-mobile"
             style="font-size: 5rem">{{data.query}}</div>
        <div class="is-size-4 is-size-5-mobile column is-one-third box m-auto ">
          <p>Město: <span class="has-text-weight-bold">{{data.city}}</span></p>
          <p>Země: <span class="has-text-weight-bold">{{data.country}}</span></p>
          <p>Poskytovatel: <span class="has-text-weight-bold">{{data.org}}</span></p>
        </div>
      </div>
        <div *ngIf="!data && txt">
          <div class="has-text-weight-bold has-text-centered" style="font-size: 5rem">{{txt}}</div>
        </div>
      </div>
    </div>
  <div class="has-text-centered ">
    ip.napicu.eu získává vaší ip adresu a následně pomocí <a href="https://ip-api.com/" target="_blank">https://ip-api.com/</a> získává
    informace o vaší
    poloze
  </div>
</section>
