<div class="BG">
  <section id="snow">
    <section id="hodiny">

      <div class="cas">
        <div class="cas-text">
          <div class="cas-text-vanoce" id="txt">
            Vánoce
          </div>
          <div class="cas-text-rok" id="year">
            {{get_full_year}}
          </div>
          <div class="cas-text-cas">
            <div id="Dny">{{get_days}}</div>
            <div id="Hodiny">{{get_hours}}</div>
            <div id="Minuty">{{get_minutes}}</div>
            <div id="Sekundy">{{get_seconds}}</div>
          </div>
          <div class="cas-text-ca">
            <div class="svicka1">
              <div class="clasa1">
                <div class="ohen1"></div>
                <div class="ohen2"></div>
                <div class="ohen3"></div>
                <div class="ohen4"></div>
              </div>
            </div>
            <div class="svicka2">
              <div class="clasa2">
                <div class="ohen1"></div>
                <div class="ohen2"></div>
                <div class="ohen3"></div>
                <div class="ohen4"></div>
              </div>
            </div>
            <div class="svicka3">
              <div class="clasa3">
                <div class="ohen1"></div>
                <div class="ohen2"></div>
                <div class="ohen3"></div>
                <div class="ohen4"></div>
              </div>
            </div>
            <div class="svicka4">
              <div class="clasa4">
                <div class="ohen1"></div>
                <div class="ohen2"></div>
                <div class="ohen3"></div>
                <div class="ohen4"></div>
              </div>
            </div>
          </div>
        </div>
        <button id="PlayButton" (click)="play_sound()">Přehrát zvuk</button>
      </div>
    </section>
  </section>

</div>









