#Background{
  background-image: url("/assets/background.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.InputWord {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 14px;
  border-radius: 7px;
}

