<section class="BackGroundColor">
  <div class="UpdateContainer">
    <div>
      <div class='loader'>
        <div class="bg"></div>
        <div class='circle'></div>
        <div class='circle'></div>
        <div class='circle'></div>
        <div class='circle'></div>
        <div class='circle'></div>
      </div>
    </div>

    <div class="UpdateText">
      <p>Working on updates</p>
      <p>{{valuePercentage}}% complete</p>
      <p>Don't turn off your computer </p>
    </div>
  </div>
</section>
