<section class="BackgroundColor">
  <div class="MainContent">
    <header>
      <h1 class="emotion">{{emoji}}</h1>
    </header>
    <a class="description">{{description}}
      <p><span id="progress">0</span>% complete</p>
    </a>
    <table>
      <tr>
        <td>
          <ngx-qrcode [value]="QRCode" cssClass="QRCode" style="height: 70px; width: 70px"></ngx-qrcode></td>
        <td style="display: block;">
          <p style="margin-left: 10px; margin-top: 0;"><small>For more information about this issue and possible fixes, visit https://www.windows.com/stopcode</small></p>
          <p style="margin-left: 10px;margin-top: 32px; margin-bottom: 0;"><small>If you call a support person, give them this info:</small><br>
            <small>Stop code: {{stopCode}}</small>
          </p>
        </td>
      </tr>
    </table>
  </div>
</section>

<section class="EditModePanel" >
  <div @NapicuBlueScreenEditModeAnimation class="EditModePanelContainer" *ngIf="editMode">
    <div class="EditModePanelTitle">Choose a mode</div>
    <section class="EditModePanelInputs">
      <div>
        <p>Emoji</p>
        <input [(ngModel)]="emoji">
      </div>
      <div>
        <p>Description</p>
        <input [(ngModel)]="description">
      </div>
      <div>
        <p>QRCode (url, text...)</p>
        <input [(ngModel)]="QRCode">
      </div>
      <div>
        <p>StopCode</p>
        <input [(ngModel)]="stopCode">
      </div>
      <p class="EditModePanelInfo">*To open this setting, press F2</p>
      <div>
        <button (click)="exitEditMode()">Exit</button>
      </div>
    </section>
  </div>
</section>

