<div class="hero is-fullheight has-background-info">
  <main>
    <div class="hero-body">
      <div class="container">
        <div
          class="box"
          style="overflow-y: hidden; max-height: 5rem; min-height: 5rem; height: auto; text-align: center"
        >
          <div class="is-size-2 has-text-weight-normal">
            <span
              *ngFor="let i of ApiWords; let index = index"
              [@cursor]="index == selectedWordIndex ? 'true' : 'false'"
              [ngClass]="{
                'has-background-grey-lighter': index == selectedWordIndex && !i.mistake,
                'has-background-danger': i.mistake
              }"
              [class]="'napicuWord-' + index"
              id="Word"
            >
              {{ i.value }}
            </span>
          </div>
        </div>
        <div
          class="
            box
            is-flex is-align-items-center is-justify-content-center is-justify-content-center
            flex-direction
          "
          style="background-color: rgba(70, 70, 70, 0.444)"
        >
          <div>
            <div (click)="timeDisplay()" id="BoxPanel1" class="box is-size-4 has-text-weight-bold">
              <p *ngIf="displayTime">{{ timer.minutes }}:{{ timer.seconds }}</p>
            </div>
          </div>
          <div class="InputDiv">
            <input
              [attr.disabled]="noMove ? '' : null"
              class="is-size-2 has-text-weight-normal InputWord"
              type="text"
              [(ngModel)]="inputValue"
              (ngModelChange)="onInputChange($event)"
            />
          </div>
          <div>
            <div id="BoxPanel2" class="box">
              <img
                class="is-32x32"
                src="/assets/refresh.svg"
                alt="RefreshButton"
                (click)="restart(); getWords()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<section style="position: absolute; top: 50%; transform: translate(-50%, -50%); left: 50%; width: 100%;">
  <div class="features">
    <div class="container">
      <div class="columns is-centered is-vcentered is-mobile">
        <!-- Box-Alert -->
        <!-- Or is-two-fifths -->
        <div class="column is-half">
          <div class="box has-background-link has-text-white">
            <div class="box">
              <div class="is-size-2 has-text-weight-bold has-text-centered" style="user-select: none">
                Výsledky
              </div>
            </div>
            <div class="container p-2">
              <section>
                <div class="has-text-success is-size-1 has-text-centered has-text-weight-medium">{{wpm}} WPM</div>
                <div class="container">
                  <!-- <div class="is-size-2 has-text-centered">69 chyb</div> -->
                  <div>Úhozů ({{ letters }}/{{ wrongLetters }})</div>
                  <div>Přesnost {{accurately}}%</div>
                  <div>Chybných slov {{ wrongWords }}</div>
                  <div>Správných slov {{ words }}</div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
