<div class="hero is-fullheight has-background-info">
  <main>
    <div class="hero-body">
      <div class="container">
        <div
          class="box"
          style="overflow-y: hidden; max-height: 5rem; min-height: 5rem; height: auto; text-align: center"
        >
          <div class="is-size-2 has-text-weight-normal">
            <span
              *ngFor="let i of ApiWords; let index = index"
              [ngClass]="{
                'has-background-grey-lighter': index == selectedWordIndex && !i.mistake,
                'has-background-danger': i.mistake
              }"
              [class]="'napicuWord-' + index"
              id="Word"
            >
              {{ i.value }}
            </span>
          </div>
        </div>
        <div
          class="
            box
            is-flex is-align-items-center is-justify-content-center is-justify-content-center
            flex-direction
          "
          style="background-color: rgba(70, 70, 70, 0.444)"
        >
          <div>
            <div (click)="timeDisplay()" id="BoxPanel1" class="box is-size-4 has-text-weight-bold">
              <p *ngIf="displayTime">{{ timer.minutes }}:{{ timer.seconds }}</p>
            </div>
          </div>
          <div class="InputDiv">
            <input
              [attr.disabled]="noMove ? '' : !ApiWords.length ? '' : null"
              class="is-size-2 has-text-weight-normal InputWord"
              type="text"
              [(ngModel)]="inputValue"
              (ngModelChange)="onInputChange($event)"
              autofocus
            />
          </div>
          <div>
            <div id="BoxPanel2" class="box">
              <img class="is-32x32" src="/assets/refresh.svg" alt="RefreshButton" (click)="restart()" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<section
  *ngIf="displayScore || ApiError"
  style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(207deg 28% 63% / 52%);
  "
>
  <div
    class="features"
    style="position: absolute; width: 100%; transform: translate(-50%, -50%); top: 50%; left: 50%"
  >
    <div class="container">
      <div class="columns is-centered is-vcentered is-mobile" style="width: 100%; margin: 0">
        <!-- Box-Alert -->
        <!-- Or is-two-fifths -->
        <div
          class="
            column
            is-three-quarters-mobile
            is-two-thirds-tablet
            is-one-third-desktop
            is-one-third-widescreen
            is-two-fifths-fullhd
          "
          @window
        >
          <div
            class="box has-background-danger has-text-white"
            [ngClass]="ApiError ? 'has-background-danger' : 'has-background-link'"
          >
            <section *ngIf="displayScore">
              <div class="box">
                <div class="is-size-2 has-text-weight-bold has-text-centered" style="user-select: none">
                  Výsledky
                </div>
              </div>

              <!-- Center -->
              <div class="container p-2">
                <section>
                  <div
                    class="has-text-success has-text-centered has-text-weight-medium"
                    style="font-size: 4rem"
                  >
                    {{ wpm }} WPM
                  </div>
                  <div class="section">
                    <!-- <div class="is-size-2 has-text-centered">69 chyb</div> -->
                    <div class="is-size-4">
                      Úhozů (<span class="has-text-success">{{ letters }}</span
                      >/<span class="has-text-danger">{{ wrongLetters }}</span
                      >)
                    </div>
                    <div class="is-size-4">Přesnost {{ accurately }}%</div>
                    <div class="is-size-4">
                      Chybných slov<span class="has-text-danger"> {{ wrongWords }}</span>
                    </div>
                    <div class="is-size-4">
                      Správných slov <span class="has-text-success">{{ words }}</span>
                    </div>
                  </div>
                </section>
              </div>
              <!-- Bottom -->
              <div class="container">
                <div
                  class="button is-success is-medium is-fullwidth m-auto column is-three-fifths"
                  (click)="restart()"
                >
                  Restartovat
                </div>
              </div>
            </section>
            <section *ngIf="ApiError">
              <div class="box has-background-dark">
                <div
                  class="is-size-2 has-text-weight-bold has-text-centered has-text-white"
                  style="user-select: none"
                >
                  Nebylo možné získat data
                </div>
              </div>
              <div class="container p-2">
                <p class="has-text-weight-medium is-size-4">
                  Je možné, že služba je momentálně nedostupná<br />
                  <br />
                  Zkuste to prosím později, nebo klikněte níže na tlačítko pro zopakování akce
                </p>
              </div>
              <div class="container mt-5">
                <div
                  class="button is-success is-medium is-fullwidth m-auto column is-three-fifths" [ngClass]="{'is-loading': loadingRetry}"
                  (click)="retry()"
                >
                  Zkusit znovu
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
