.InputDiv {
  width: 40%;
  margin: 0px 25px;
}

.InputWord {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 14px;
  border-radius: 10px;
}

input:disabled {
  background-color: #dbdbdb;
  border-color: #dbdbdb;
  cursor: not-allowed;
  box-shadow: none;
  color: #7a7a7a;
}

#BoxPanel1,
#BoxPanel2 {
  width: 64px;
  height: 64px;
  display: flex;
  cursor: pointer;
  padding: 0.9rem;
  user-select: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}
// #BoxPanel1 {
//   //width: 84px;
//   width: 64px;
// }

#Word {
  border-radius: 10px;
  margin: 0px 4px;
  user-select: none;
  padding: 3px 5px 3px 5px;
  display: inline-block !important;
}
