<div class="is-relative">
  <div id="Background"></div>
  <main>
    <div class="section">
      <div class="container is-max-desktop initial">
        <!-- MainTitle-->
        <div>
          <div class="main-text is-size-1-mobile">NapicuServerovna</div>
        </div>
        <!-- Imgs-->
        <div class="mt-6 has-text-light is-size-2" id="napicu-imgs">

          <div>
            <img src="/assets/img/Server1.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p>Tento kvalitní server disponuje procesorem Xeon 3065 s 2 jádry ná základním taktu 2.33 GHz! na
                TDP 65 W! To je opravdu dělo!<br>
                Dále zde můžeme nalézt 2 GB ram DDR2! Jako uložiště zde nalezneme 2x WD Black Enterprise</p>
            </div>
          </div>
          <div>
            <img src="/assets/img/ServerVetrak.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p>V celém serveru jsou nejvýkonější tyto větráky, které při startu uslyší i váš soused, nebo vám při
                nejhorším server uletí!</p>
            </div>
          </div>
          <div>
            <img src="/assets/img/PlatinumZdrojjpg.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p>Drahé servery s dobrými zdroji (jako je tento) nepotřebují záložní zdroje a proto tu najdeme pouze
                kvalitní napájení, obstarávající tento kvalitní 350 W
                platinum zdroj s 2 vysokootáčkovýma větrákama!
              </p>
            </div>
          </div>
          <div>
            <img src="/assets/img/Router.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p>Tento vysoce výkonný server má také výbornou konektivitu! Jako router tu obstarává tento vysoce
                kvalitní serverový router s maximální přenosovou rychlostí 300Mbit/s!
              </p>
            </div>
          </div>
          <div>
            <img src="/assets/img/Ethernet5.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p>K správné konektivitě nesmí chybět pořádně rychlý přenos dat, ten zde zasluhuje tento ethernetový
                kabel CAT 5 s maximální přenosovou rychlostí 100Mbit/s! Společně tedy s vysoce kvalitním routrem máme tu
                nejlepší konektivitu
              </p>
            </div>
          </div>
          <div>
            <div class="section">
              <p></p>
            </div>
            <img src="assets/img/ServerVenek2.webp" alt="Image"
                 class="napicu-img">
          </div>
          <div>
            <img src="/assets/img/ServerVenek.webp" alt="Image"
                 class="napicu-img">
            <div class="section">

            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
</div>
