<section id="Background">
  <header>
    <main>
      <nav class="navbar is-size-5" role="navigation" aria-label="main navigation">
        <div class="container">
          <div class="navbar-brand">
            <a
              #Burger
              role="button"
              class="navbar-burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="NapicuBarMain"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div #NavMenu id="NapicuBarMain" class="navbar-menu">
            <div class="navbar-start">
              <a href="https://napicu.eu/vanoce" class="navbar-item">Vánoce</a>
              <a href="https://napicu.eu/covid" class="navbar-item">Covid</a>
              <a href="https://popjonanek.napicu.eu/" class="navbar-item">PopJonanek</a>
              <a href="https://faktura.napicu.eu/" class="navbar-item">Faktura</a>
              <div class="navbar-item has-dropdown is-hoverable napicuNavStyle">
                <a class="navbar-link"> Další </a>

                <div class="navbar-dropdown is-boxed is-size-6">
                  <!-- <div>
                    <h2 class="has-text-weight-bold mx-3">Hry</h2>
                  </div> -->
                  <a href="https://napicu.eu/game" class="navbar-item">Plecháč</a>
                  <a href="https://flappybird.napicu.eu/" class="navbar-item">Flappy</a>
                  <a href="https://napicu.eu/typegame" class="navbar-item">Typing Game</a>
                  <a href="https://tic.tac.toe.napicu.eu/" class="navbar-item">Tic Tac Toe</a>
                  <!-- <div>
                    <h2 class="has-text-weight-bold mx-3">Nástroje</h2>
                  </div> -->
                  <a href="https://napicu.eu/pocasi" class="navbar-item">Počasí</a>
                  <a href="https://ip.napicu.eu" class="navbar-item">NapicuIP</a>
                  <a href="https://editor.napicu.eu" class="navbar-item">Editor</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="hero is-fullheight-with-navbar">
        <div style="padding-top: 15%;">
          <div class="container">
            <h1 class="text has-text-white has-text-weight-bold" id="SourceCode">Napicu</h1>
            <div class="container">
              <p
                class="ml-5 has-text-weight-medium is-size-6"
                id="SourceCode"
                style="color: rgba(255, 255, 255, 0.524)"
              >
                Miliony lidí se sešlo, aby vytvořili tuto jedinečnou stránku!<br />
                Stránku, na které lidé pracovali tisíce a tisíce hodin, jen <br />
                aby dokázali dostat toto dílo do života ostatních lidí!<br />
                Stránka, která byla vytvořena lidmi přímo pro tebe!<br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </header>

  <main></main>
</section>
