<section id="Background">
  <header class="container">
    <nav class="navbar is-size-5" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a
          #Burger
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="NapicuBarMain"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div #NavMenu id="NapicuBarMain" class="navbar-menu">
        <div class="navbar-start">
          <a href="https://napicu.eu/vanoce" class="navbar-item">Vánoce</a>
          <a href="https://napicu.eu/covid" class="navbar-item">Covid</a>
          <a href="https://popjonanek.napicu.eu/" class="navbar-item">PopJonanek</a>
          <a href="https://faktura.napicu.eu/" class="navbar-item">Faktura</a>
          <div class="navbar-item has-dropdown is-hoverable napicuNavStyle has-text-black">
            <a class="navbar-link"> Další </a>

            <div class="navbar-dropdown is-size-6" style="border: 0">
              <div>
                <h2 class="has-text-weight-bold mx-3">Hry</h2>
              </div>
              <a href="https://napicu.eu/game" class="navbar-item has-text-black">Plecháč</a>
              <a href="https://flappybird.napicu.eu/" class="navbar-item has-text-black">Flappy</a>
              <a href="https://napicu.eu/typegame" class="navbar-item has-text-black">Typing Game</a>
              <a href="https://tic.tac.toe.napicu.eu/" class="navbar-item has-text-black">Tic Tac Toe</a>
              <div>
                <h2 class="has-text-weight-bold mx-3">Nástroje</h2>
              </div>
              <a href="https://napicu.eu/pocasi" class="navbar-item has-text-black">Počasí</a>
              <a href="https://ip.napicu.eu" class="navbar-item has-text-black">NapicuIP</a>
              <a href="https://editor.napicu.eu" class="navbar-item has-text-black">Editor</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main></main>
</section>
