<div class="is-relative">
  <div id="Background"></div>
  <main>
    <div class="section">
      <div class="container is-max-desktop initial">
        <!-- MainTitle-->
        <div>
          <div class="main-text is-size-1-mobile">NapicuJonanekSwitch</div>
        </div>
        <!-- Imgs-->
        <div class="mt-6 has-text-light is-size-2" id="napicu-imgs">

          <div>
            <img src="/assets/img/IMG_20220808_132008.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p>Tento switch Cisco 3750 24 x 10/100 Mbps PoE + 2x SFP 1000 Mbps je vysoce kvalitní serverový switch s velice estetickým designem, který vám v racku přímo zazáří!</p>
            </div>
          </div>
          <div>
            <img src="/assets/img/IMG_20220808_131942.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p>Serverový Cisco switch je vybaven 24x 10/100 Mbps PoE, 2x SFP 1000 Mbps, díky tomuto switchu vám v zimě také nebude zima, jelikož díky svému nadstandardnímu výkonu jeho maximální spotřeba je až 525 W! V idle si tento switch bere úctyhodných 50 W!</p>
            </div>
          </div>

          <div>
            <img src="/assets/img/price.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p>Za kvalitní switche si obvykle pročistíte peněženku, kvalitní swtich jako je tento se mimo slevy prodává za úchvatných 124792 Kč a to se přece za Cisco 3750 24 x 10/100 Mbps vřele vyplatí!</p>
            </div>
          </div>

          <div>
            <img src="/assets/img/IMG_20220808_132229.webp" alt="Image"
                 class="napicu-img">
          </div>

          <div>
            <img src="/assets/img/IMG_20220808_132050.webp" alt="Image"
                 class="napicu-img">
            <div class="section">
              <p><a href="https://jonanek.napicu.eu" style="color: black; text-decoration: revert; ">Jonának</a> vlastnící tento switch s nadstandardní
                výbavou implementoval tento switch do svého velice čistého setupu! Switch má proto velice neobvyklé podmínky pro svůj báječný život!
              </p>
            </div>
          </div>

          <div style="text-align: center">
            <video width="320" height="240" controls >
              <source src="/assets/img/VID_20220805_143715.webm" type="video/webm">
              Váš prohlížeč nepodporuje video.
            </video>

            <div class="section" style="text-align: left !important;">
              <p>Switch také odváděl výbornou práci jako průměrný ostravský horník tvrdě pracoval v dolu.
                Jelikož switch byl velice zaprášený ze své těžké šichty v dole, bylo velice nutné ho zbavit uhelného prachu A TAKTO TO DOPADLO!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
