* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#particles-js {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.SourceCode {
  font-family: 'Source Code Pro', monospace;
}
.Ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
.Bold {
  font-weight: bold;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-icon-button:hover .mat-button-focus-overlay {
  opacity: 1 !important;
  background-color: red;
}
#MatButton {
  cursor: pointer;
}
.MatMenuTxt {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0px;
  height: auto;
  line-height: normal;
}
