@import './variables.scss';
@import 'sass/utilities/_all';
@import 'sass/base/_all';
@import 'sass/elements/_all';
@import 'sass/form/_all';
@import 'sass/components/_all';
@import 'sass/grid/_all';
@import 'sass/helpers/_all';
@import 'sass/layout/_all';
// * {
//   padding: 0;
//   margin: 0;
//   font-weight: 500;
// }
html {
  background-color: white;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  box-sizing: border-box;
  overflow-x: hidden;

  text-rendering: optimizeLegibility;
}

// #particles-js {
//   width: 100%;
//   height: 100%;
//   z-index: -1;
// }

#SourceCode {
  font-family: 'Source Code Pro', monospace;
}
.Ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
.Rubil {
  font-family: 'Rubik', sans-serif;
}
.Verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Bold {
  font-weight: bold;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.initial {
  line-height: initial;
}
