$family-sans-serif: 'Rubik', sans-serif;


//! * * * Navbar * * *
$navbar-item-hover-color: rgba(54, 54, 54, 0.541);
$navbar-item-hover-background-color: #00000000;

$navbar-dropdown-arrow: $navbar-item-hover-color; //TODO Zjistit hlavní barvu textu


//Text
