/* You can add global styles to this file, and also import other style files */


body {
  background-color: white;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 100;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  overflow-y: hidden;
}


@media (max-width: 768px) {
  .QRCode img{
      height: 120px;
      width: 120px;

  }
}
@media (max-width: 375px) {
  .QRCode img{
    height: 100px;
    width: 100px;
  }
}



@media (max-width: 320px) {
  .QRCode img{
    height: 70px;
    width: 70px;
  }
}
